<%= form_with(model: permit) do |form| %>
  <% if permit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(permit.errors.count, "error") %> prohibited this permit from being saved:</h2>

      <ul>
        <% permit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :cost, style: "display: block" %>
    <%= form.text_field :cost %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
