<div id="<%= dom_id site %>">
  <p>
    <strong>Name:</strong>
    <%= site.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= site.description %>
  </p>

  <p>
    <strong>Needs permit:</strong>
    <%= site.needs_permit %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= site.notes %>
  </p>

</div>
