<div id="<%= dom_id location %>">
  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= location.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= location.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= location.country %>
  </p>

</div>
